/* Quiz styles */


//BEGIN VARIBLES
$bluebackground: aliceblue;
$graybackground: #dadadb;
$serif: serif;
$sans: sans-serif;
$leftmargin: 50px;    
$padding: 10px;
$border: 2px solid #064277;
$borderradius: 20px;
//END VARIABLES

//BEGIN MIXIN

@mixin borderandradius {
    border: $border;
    border-radius: $borderradius;
}

//END MIXIN


header {
    @include borderandradius;
    margin: 10px auto;
    padding: $padding;
    background-color: $bluebackground;
    text-align: center;
    
    h1 {
        color:#58a0e0;
            }
    h2 {
        color: #064277;
            }
}

body {
    width: 600px;
    margin: auto;
    font-family: $sans;
    font-size: 1em;
    font-style:oblique;
    background-color: $graybackground;

    #content {
        @include borderandradius;
        margin: 10px auto;
        padding: $padding;
        background-color: $bluebackground;
           
        .samplepara {
            border: 3px solid #58a0e0;
            border-radius: 5px;
            padding: $padding;
            background-color: white;
                }
        
        }

    #list {
        @include borderandradius;
        background-color: $bluebackground;
            
        h3 {
            margin-left: 50px;
            color:#58a0e0
                }
            ul{
                margin-left: $leftmargin;
                    }
    
            }
    
    p {
        font-family: $serif;
        font-style:normal;
            }

}




footer {
    @include borderandradius;
    margin: 10px auto;
    padding: $padding;
    background-color: $bluebackground;
    
    #footer {
        font-size: .75em;
        font-style:italic;
        font-weight: bold;
        color: #064277;
        text-align: center;
                }
}




